@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }

  .nav-bar{
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: fixed;
    background-color: white;
    top: 0%;
    width: 100%;
    padding-bottom: 10px;
  }

  .nav-bar .logo img{
    height: 20px;
  }
  .nav-bar .nav-icons img{
    height: 20px;
    margin-left: 20px;
  }
  .nav-bar ul{
    display: flex;
    list-style: none;
  }
  .nav-bar ul li{
    cursor: pointer;
    margin-left: 40px;
    font-size: 15px;
  }
  .nav-bar ul li:hover{
    color: aqua;
  }
  .nav-bar ul li a:hover{
    color: aqua;
  }
  .nav-bar ul li a{
    text-decoration: none;
    color: black;
  }




.menu-open {
    display: none;
}

.close{
    display: none;
}

  .offers{
    text-align: center;
    padding-top: 30px;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .offers h2{
    color: white;
  }
  .offers a{
    color: blue;
  }

  .back-video video{
      width: 100%;
  }


  .section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
  }

  .section .titles h1{
    font-size: 40px;
    color: white;
  }
  
  .section .titles h3{
    font-size: 25px;
    letter-spacing: 2px;
    color: rgb(255, 0, 0);
  }
  .section .titles h2{
    /* font-size: 40px; */
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .section1{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0px;
    margin-top: 20px;
    /* background-color: rgb(255, 255, 255); */
  }

   

  .section1 img{
    height: 100%;
    width: 100%;
    
  }

  .titles1 h1{
    left: 20%;
    top: 30%;
    position: absolute;
    
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }
  .titles1 h2{
    left: 20%;
    top: 36%;
    position: absolute;
    
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }



  .services img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
  }

  .services a{
    color: blue;
  }

  .titles h3{
    display: flex;
    justify-content: center;
  }
  .titles h6{
    display: flex;
    justify-content: center;
  }
  

  .titles  h1{
    color: rgb(0, 0, 0);
    /* font-size: 40px; */
  }

  .section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
  }
  .section3{
        background: #f5f5f7;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    margin-top: 30px;
    background: #f5f5f7;
  }
  .products3{
    
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    background: #f5f5f7;
  }

  .product3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product3 img{
        height: 100%;
        width: 100%;
 }

  .titles3 h2{
    display: flex;
    justify-content: center;
  }
  .titles3 h3{
    font-size: 25px;
    color: red;
    display: flex;
    justify-content: center;
  }
  

  .titles3  h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    /* font-size: 40px; */
  }


  .products{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
  }

  .product{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product img{
    
    position: relative;
    margin-left: 50px;
    /* height: 400px; */
    max-width: 100%;
  }

  .products .product .max img{
    position: relative;
    
  }

  .product a{
    text-decoration: none;
    margin-top: 20px;
    color: black;
    padding-bottom: 20px;
  }

  .card{
    height: 470px;
    width: 400px;
    margin-top: 25px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.7s;
  }

  .card img{
    height: 210px;
  }

  .card-container {
    margin-top: 30px;
    text-align: center;
  }
  .card-container h1{
    color: #000;
  }
  .card h1{
    color: black;
    margin-top: 10px;
    margin-bottom: 18px;
  }
  .card p{
    margin-bottom: 20px;
  }

  .cards{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
  }

  .card:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .apple-events{
    /* background-color: black; */

    /* color: white; */
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
  }

  .apple-events h1{
    font-size: 100px;
    left: 35%;
    top: 30%;
    position: absolute;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
  }
  .apple-events p{
    font-weight: 700;
    transform: translate(-50%, -50%);
    letter-spacing: -0.022em;
    font-size: 20px;
    left: 48%;
    top: 50%;
    position: absolute;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
  }

  .apple-events .rate{
    transform: translate(-50%, -50%);
    letter-spacing: -0.022em;
    font-size: 20px;
    left: 48%;
    top: 55%;
    position: absolute;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
  }

  .apple-events img{
    height: 100%;
    width: 100%;
  }

  .event-pictures{
    display: flex;
    justify-content: space-evenly;
  }

  .section-2{
    background: #f5f5f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
  }

  .section-2 img{
    height: 500px;
    width: 500px;
  }

.section-2 h1{
    font-size: 40px;
}

.store{
    display: flex;
    margin-left: 5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.store img{
    height: 22px;
}

.menu-items {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.103);
}

.menu-list{
    display: flex;
    justify-content: space-evenly;
}
  
.menu-list ul{
    list-style: none;
}

.footer{
    padding: 20px;
}

.footer p{
    text-align: center;
}



@media only screen and (max-width:650px) {
    
    .nav-bar{
        z-index: 1;
        display: flex;
        justify-content: space-around;
    }
    .nav-bar ul{
        display: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 40px;
        position: absolute;
        background-color: white;
        opacity: 0%;
        transition: 0.6s;
    }

    .nav-bar ul li{
        padding: 30px;

    }

    .menu-open{
        display: block;
        position: absolute;
        right: 4%;
        top: 25%;
        height: 25px;
    }

    .close{
        display: block;
        position: absolute;
        right: 4%;
        height: 25px;
    }

    .product img{
        margin-left: 110px;
        height: 65px;
        width: 350px;
    }
    .product h1{
        font-size: 12px;
    }
    .product h2{
        font-size: 12px;
    }

    .max img{
        height: 150px;
    }


    .offers p{
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .offers a{
        font-size: 13px;
    }

    .section{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .section1{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        padding-top: 0px;
        margin-top: 20px;
        /* background-color: rgb(255, 255, 255); */
      }

    .titles1 h1 {
        top: 40%;
        left: 10%;
        font-size: 15px;
    }
    .titles1 h2 {
        top: 30%;
        left: 10%;
        font-size: 15px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apple-events{
        display: flex;
        flex-direction: column;
    }
    .apple-events{
        /* background-color: black; */
    
        /* color: white; */
        display: inline-block;
        position: relative;
        text-align: center;
        margin-top: 40px;
        padding: 20px;
      }
    
      .apple-events h1{
        font-size: 20px;
        left: 25%;
        top: 30%;
        position: absolute;
        color: #000;
        text-align: center;
        margin-bottom: 30px;
      }
      .apple-events p{
        transform: translate(-50%, -50%);
        letter-spacing: -0.022em;
        font-size: 5px;
        left: 50%;
        top: 50%;
        position: absolute;
        color: #000;
        text-align: center;
        margin-bottom: 30px;
        padding: 20px;
      }

    .event-pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-pictures img{
        height: 350px;
        width: 200px;
    }

    .section-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2 img{
        height: 400px;
    }

    .section-2 h1{
        font-size: 15px;
        margin: 20px;
    }

    .menu-list ul{
        font-size: 12px;
        padding: 10px;
    }
}

@media (min-width:300px) and (max-width:1024px){

    .nav-bar{
        z-index: 1;
        display: flex;
        padding-right: 270px;
    }
    .nav-bar ul{
        display: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 40px;
        position: absolute;
        background-color: white;
        opacity: 0%;
        transition: 0.6s;
    }

    .nav-bar ul li{
        padding: 20px;
        
    }

    .menu-open{
        display: block;
        position: absolute;
        left: 70%;
        top: 25%;
        height: 25px;
    }

    .close{
        display: block;
        position: absolute;
        left: 70%;
        height: 25px;
    }

    .product img{
        margin-left: 110px;
        height: 50px;
        width: 234px;
    }

    .product h1{
        margin-left: 50px;
    }
    .product h2{
        margin-left: 50px;
    }


    .offers p{
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .offers a{
        font-size: 13px;
    }

    .section{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }


    

    .section1{
        position: relative;
        display: flex;
        /* justify-content: space-evenly; */
        padding-top: 0px;
        margin-top: 20px;
        /* background-color: rgb(255, 255, 255); */
      }

    .titles h1 {
        display: flex;
        justify-content: center;
        color: white;
        top: 40%;
        left: 50%;
        font-size: 22px;
    }
    .titles h3 {
        color: white;
        top: 30%;
        left: 10%;
        font-size: 20px;
    }
    .titles h6 {
        color: white;
        top: 30%;
        left: 10%;
        font-size: 20px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apple-events{
        display: flex;
        flex-direction: column;
    }
    .apple-events{
        /* background-color: black; */
    
        /* color: white; */
        display: inline-block;
        position: relative;
        text-align: center;
        margin-top: 40px;
        padding: 20px;
      }
    
      .apple-events h1{
        font-size: 50px;
        left: 40%;
        top: 30%;
        position: absolute;
        color: #000;
        text-align: center;
        margin-bottom: 30px;
      }
      .apple-events p{
        transform: translate(-50%, -50%);
        letter-spacing: -0.022em;
        font-size: 10px;
        left: 50%;
        top: 50%;
        position: absolute;
        color: #000;
        text-align: center;
        margin-bottom: 30px;
        padding: 20px;
      }

    .event-pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .event-pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-pictures img{
        height: 350px;
        width: 200px;
    }

    .section-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2 img{
        height: 400px;
    }

    .section-2 h1{
        font-size: 15px;
        margin: 20px;
    }

    .menu-list ul{
        font-size: 12px;
        padding: 10px;
    }

}



